# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Env
.env
.env.local

# Backend
backend/bin/
backend/.cache/
backend/coverage.out

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/coverage/

# Logs
*.log
